<option value="">-- Pilih Kota/Kabupaten --</option>
<optgroup label="10000" data-prov="10000">
  <option value="10100">Kab. Kepulauan Seribu</option>
  <option value="16200">Kota Jakarta Barat</option>
  <option value="16000">Kota Jakarta Pusat</option>
  <option value="16300">Kota Jakarta Selatan</option>
  <option value="16400">Kota Jakarta Timur</option>
  <option value="16100">Kota Jakarta Utara</option>
</optgroup>
<optgroup label="20000" data-prov="20000">
  <option value="20800">Kab. Bandung</option>
  <option value="22300">Kab. Bandung Barat</option>
  <option value="22200">Kab. Bekasi</option>
  <option value="20500">Kab. Bogor</option>
  <option value="21400">Kab. Ciamis</option>
  <option value="20700">Kab. Cianjur</option>
  <option value="21700">Kab. Cirebon</option>
  <option value="21100">Kab. Garut</option>
  <option value="21800">Kab. Indramayu</option>
  <option value="22100">Kab. Karawang</option>
  <option value="21500">Kab. Kuningan</option>
  <option value="21600">Kab. Majalengka</option>
  <option value="22500">Kab. Pangandaran</option>
  <option value="22000">Kab. Purwakarta</option>
  <option value="21900">Kab. Subang</option>
  <option value="20600">Kab. Sukabumi</option>
  <option value="21000">Kab. Sumedang</option>
  <option value="21200">Kab. Tasikmalaya</option>
  <option value="26000">Kota Bandung</option>
  <option value="26900">Kota Banjar</option>
  <option value="26500">Kota Bekasi</option>
  <option value="26100">Kota Bogor</option>
  <option value="26700">Kota Cimahi</option>
  <option value="26300">Kota Cirebon</option>
  <option value="26600">Kota Depok</option>
  <option value="26200">Kota Sukabumi</option>
  <option value="26800">Kota Tasikmalaya</option>
</optgroup>
<optgroup label="30000" data-prov="30000">
  <option value="30400">Kab. Banjarnegara</option>
  <option value="30200">Kab. Banyumas</option>
  <option value="32500">Kab. Batang</option>
  <option value="31600">Kab. Blora</option>
  <option value="30900">Kab. Boyolali</option>
  <option value="32900">Kab. Brebes</option>
  <option value="30100">Kab. Cilacap</option>
  <option value="32100">Kab. Demak</option>
  <option value="31500">Kab. Grobogan</option>
  <option value="32000">Kab. Jepara</option>
  <option value="31300">Kab. Karanganyar</option>
  <option value="30500">Kab. Kebumen</option>
  <option value="32400">Kab. Kendal</option>
  <option value="31000">Kab. Klaten</option>
  <option value="31900">Kab. Kudus</option>
  <option value="30800">Kab. Magelang</option>
  <option value="31800">Kab. Pati</option>
  <option value="32600">Kab. Pekalongan</option>
  <option value="32700">Kab. Pemalang</option>
  <option value="30300">Kab. Purbalingga</option>
  <option value="30600">Kab. Purworejo</option>
  <option value="31700">Kab. Rembang</option>
  <option value="32200">Kab. Semarang</option>
  <option value="31400">Kab. Sragen</option>
  <option value="31100">Kab. Sukoharjo</option>
  <option value="32800">Kab. Tegal</option>
  <option value="32300">Kab. Temanggung</option>
  <option value="31200">Kab. Wonogiri</option>
  <option value="30700">Kab. Wonosobo</option>
  <option value="36000">Kota Magelang</option>
  <option value="36400">Kota Pekalongan</option>
  <option value="36200">Kota Salatiga</option>
  <option value="36300">Kota Semarang</option>
  <option value="36100">Kota Surakarta</option>
  <option value="36500">Kota Tegal</option>
</optgroup>
<optgroup label="40000" data-prov="40000">
  <option value="40100">Kab. Bantul</option>
  <option value="40300">Kab. Gunung Kidul</option>
  <option value="40400">Kab. Kulon Progo</option>
  <option value="40200">Kab. Sleman</option>
  <option value="46000">Kota Yogyakarta</option>
</optgroup>
<optgroup label="50000" data-prov="50000">
  <option value="52900">Kab. Bangkalan</option>
  <option value="52500">Kab. Banyuwangi</option>
  <option value="51500">Kab. Blitar</option>
  <option value="50500">Kab. Bojonegoro</option>
  <option value="52200">Kab. Bondowoso</option>
  <option value="50100">Kab. Gresik</option>
  <option value="52400">Kab. Jember</option>
  <option value="50400">Kab. Jombang</option>
  <option value="51300">Kab. Kediri</option>
  <option value="50700">Kab. Lamongan</option>
  <option value="52100">Kab. Lumajang</option>
  <option value="50800">Kab. Madiun</option>
  <option value="51000">Kab. Magetan</option>
  <option value="51800">Kab. Malang</option>
  <option value="50300">Kab. Mojokerto</option>
  <option value="51400">Kab. Nganjuk</option>
  <option value="50900">Kab. Ngawi</option>
  <option value="51200">Kab. Pacitan</option>
  <option value="52600">Kab. Pamekasan</option>
  <option value="51900">Kab. Pasuruan</option>
  <option value="51100">Kab. Ponorogo</option>
  <option value="52000">Kab. Probolinggo</option>
  <option value="52700">Kab. Sampang</option>
  <option value="50200">Kab. Sidoarjo</option>
  <option value="52300">Kab. Situbondo</option>
  <option value="52800">Kab. Sumenep</option>
  <option value="51700">Kab. Trenggalek</option>
  <option value="50600">Kab. Tuban</option>
  <option value="51600">Kab. Tulungagung</option>
  <option value="56800">Kota Batu</option>
  <option value="56500">Kota Blitar</option>
  <option value="56300">Kota Kediri</option>
  <option value="56200">Kota Madiun</option>
  <option value="56100">Kota Malang</option>
  <option value="56400">Kota Mojokerto</option>
  <option value="56600">Kota Pasuruan</option>
  <option value="56700">Kota Probolinggo</option>
  <option value="56000">Kota Surabaya</option>
</optgroup>
<optgroup label="60000" data-prov="60000">
  <option value="60600">Kab. Aceh Barat</option>
  <option value="61700">Kab. Aceh Barat Daya</option>
  <option value="60100">Kab. Aceh Besar</option>
  <option value="61600">Kab. Aceh Jaya</option>
  <option value="60700">Kab. Aceh Selatan</option>
  <option value="61300">Kab. Aceh Singkil</option>
  <option value="61400">Kab. Aceh Tamiang</option>
  <option value="60500">Kab. Aceh Tengah</option>
  <option value="60800">Kab. Aceh Tenggara</option>
  <option value="60400">Kab. Aceh Timur</option>
  <option value="60300">Kab. Aceh Utara</option>
  <option value="61900">Kab. Bener Meriah</option>
  <option value="61200">Kab. Bireuen</option>
  <option value="61800">Kab. Gayo Lues</option>
  <option value="61500">Kab. Nagan Raya</option>
  <option value="60200">Kab. Pidie</option>
  <option value="62000">Kab. Pidie Jaya</option>
  <option value="61100">Kab. Simeulue</option>
  <option value="66100">Kota Banda Aceh</option>
  <option value="66300">Kota Langsa</option>
  <option value="66200">Kota Lhokseumawe</option>
  <option value="66000">Kota Sabang</option>
  <option value="66400">Kota Subulussalam</option>
</optgroup>
<optgroup label="70000" data-prov="70000">
  <option value="70600">Kab. Asahan</option>
  <option value="72200">Kab. Batubara</option>
  <option value="70500">Kab. Dairi</option>
  <option value="70100">Kab. Deli Serdang</option>
  <option value="71900">Kab. Humbang Hasudutan</option>
  <option value="70300">Kab. Karo</option>
  <option value="70700">Kab. Labuhan Batu</option>
  <option value="72600">Kab. Labuhan Batu Selatan</option>
  <option value="72500">Kab. Labuhan Batu Utara</option>
  <option value="70200">Kab. Langkat</option>
  <option value="71500">Kab. Mandailing Natal</option>
  <option value="71100">Kab. Nias</option>
  <option value="72700">Kab. Nias Barat</option>
  <option value="71700">Kab. Nias Selatan</option>
  <option value="72800">Kab. Nias Utara</option>
  <option value="72400">Kab. Padang Lawas</option>
  <option value="72300">Kab. Padang Lawas utara</option>
  <option value="71800">Kab. Pakpak Bharat</option>
  <option value="72000">Kab. Samosir</option>
  <option value="72100">Kab. Serdang Bedagai</option>
  <option value="70400">Kab. Simalungun</option>
  <option value="71000">Kab. Tapanuli Selatan</option>
  <option value="70900">Kab. Tapanuli Tengah</option>
  <option value="70800">Kab. Tapanuli Utara</option>
  <option value="71600">Kab. Toba Samosir</option>
  <option value="76100">Kota Binjai</option>
  <option value="76700">Kota Gunungsitoli</option>
  <option value="76000">Kota Medan</option>
  <option value="76600">Kota Padang Sidimpuan</option>
  <option value="76300">Kota Pematangsiantar</option>
  <option value="76500">Kota Sibolga</option>
  <option value="76400">Kota Tanjung Balai</option>
  <option value="76200">Kota Tebing Tinggi</option>
</optgroup>
<optgroup label="80000" data-prov="80000">
  <option value="80100">Kab. Agam</option>
  <option value="81200">Kab. Dharmasraya</option>
  <option value="81000">Kab. Kepulauan Mentawai</option>
  <option value="80300">Kab. Lima Puluh Koto</option>
  <option value="80500">Kab. Padang Pariaman</option>
  <option value="80200">Kab. Pasaman</option>
  <option value="81300">Kab. Pasaman Barat</option>
  <option value="80600">Kab. Pesisir Selatan</option>
  <option value="80800">Kab. Sijunjung</option>
  <option value="80400">Kab. Solok</option>
  <option value="81100">Kab. Solok Selatan</option>
  <option value="80700">Kab. Tanah Datar</option>
  <option value="86000">Kota Bukittinggi</option>
  <option value="86100">Kota Padang</option>
  <option value="86200">Kota Padang Panjang</option>
  <option value="86600">Kota Pariaman</option>
  <option value="86500">Kota Payakumbuh</option>
  <option value="86300">Kota Sawah Lunto</option>
  <option value="86400">Kota Solok</option>
</optgroup>
<optgroup label="90000" data-prov="90000">
  <option value="90200">Kab. Bengkalis</option>
  <option value="90500">Kab. Indragiri Hilir</option>
  <option value="90400">Kab. Indragiri Hulu</option>
  <option value="90100">Kab. Kampar</option>
  <option value="91500">Kab. Kepulauan Meranti</option>
  <option value="91400">Kab. Kuantan Singingi</option>
  <option value="90800">Kab. Pelalawan</option>
  <option value="91000">Kab. Rokan Hilir</option>
  <option value="90900">Kab. Rokan Hulu</option>
  <option value="91100">Kab. Siak</option>
  <option value="96200">Kota Dumai</option>
  <option value="96000">Kota Pekanbaru</option>
</optgroup>
<optgroup label="100000" data-prov="100000">
  <option value="100100">Kab. Batang Hari</option>
  <option value="100200">Kab. Bungo</option>
  <option value="100500">Kab. Kerinci</option>
  <option value="100900">Kab. Merangin</option>
  <option value="100700">Kab. Muaro Jambi</option>
  <option value="100300">Kab. Sarolangun</option>
  <option value="100400">Kab. Tanjung Jabung Barat</option>
  <option value="100800">Kab. Tanjung Jabung Timur</option>
  <option value="100600">Kab. Tebo</option>
  <option value="106000">Kota Jambi</option>
  <option value="106100">Kota Sungai Penuh</option>
</optgroup>
<optgroup label="110000" data-prov="110000">
  <option value="110700">Kab. Banyuasin</option>
  <option value="111100">Kab. Empat Lawang</option>
  <option value="110500">Kab. Lahat</option>
  <option value="110400">Kab. Muara Enim</option>
  <option value="110100">Kab. Musi Banyuasin</option>
  <option value="110600">Kab. Musi Rawas</option>
  <option value="111300">Kab. Musi Rawas Utara</option>
  <option value="111000">Kab. Ogan Ilir</option>
  <option value="110200">Kab. Ogan Komering Ilir</option>
  <option value="110300">Kab. Ogan Komering Ulu</option>
  <option value="110900">Kab. Ogan Komering Ulu Selatan</option>
  <option value="110800">Kab. Ogan Komering Ulu Timur</option>
  <option value="111200">Kab. Penukal Abab Lematang Ilir</option>
  <option value="116200">Kota Lubuk Linggau</option>
  <option value="116300">Kota Pagar Alam</option>
  <option value="116000">Kota Palembang</option>
  <option value="116100">Kota Prabumulih</option>
</optgroup>
<optgroup label="120000" data-prov="120000">
  <option value="120400">Kab. Lampung Barat</option>
  <option value="120100">Kab. Lampung Selatan</option>
  <option value="120200">Kab. Lampung Tengah</option>
  <option value="120700">Kab. Lampung Timur</option>
  <option value="120300">Kab. Lampung Utara</option>
  <option value="121100">Kab. Mesuji</option>
  <option value="120900">Kab. Pesawaran</option>
  <option value="121300">Kab. Pesisir Barat</option>
  <option value="121000">Kab. Pringsewu</option>
  <option value="120600">Kab. Tanggamus</option>
  <option value="120500">Kab. Tulang Bawang</option>
  <option value="121200">Kab. Tulang Bawang Barat</option>
  <option value="120800">Kab. Way Kanan</option>
  <option value="126000">Kota Bandar Lampung</option>
  <option value="126100">Kota Metro</option>
</optgroup>
<optgroup label="130000" data-prov="130000">
  <option value="130800">Kab. Bengkayang</option>
  <option value="130500">Kab. Kapuas Hulu</option>
  <option value="131200">Kab. Kayong Utara</option>
  <option value="130600">Kab. Ketapang</option>
  <option value="131300">Kab. Kuburaya</option>
  <option value="130900">Kab. Landak</option>
  <option value="131100">Kab. Melawi</option>
  <option value="130200">Kab. Mempawah</option>
  <option value="130100">Kab. Sambas</option>
  <option value="130300">Kab. Sanggau</option>
  <option value="131000">Kab. Sekadau</option>
  <option value="130400">Kab. Sintang</option>
  <option value="136000">Kota Pontianak</option>
  <option value="136100">Kota Singkawang</option>
</optgroup>
<optgroup label="140000" data-prov="140000">
  <option value="140200">Kab. Barito Selatan</option>
  <option value="141300">Kab. Barito Timur</option>
  <option value="140300">Kab. Barito Utara</option>
  <option value="141000">Kab. Gunung Mas</option>
  <option value="140100">Kab. Kapuas</option>
  <option value="140600">Kab. Katingan</option>
  <option value="140500">Kab. Kotawaringin Barat</option>
  <option value="140400">Kab. Kotawaringin Timur</option>
  <option value="140900">Kab. Lamandau</option>
  <option value="141200">Kab. Murung Raya</option>
  <option value="141100">Kab. Pulang Pisau</option>
  <option value="140700">Kab. Seruyan</option>
  <option value="140800">Kab. Sukamara</option>
  <option value="146000">Kota Palangka Raya</option>
</optgroup>
<optgroup label="150000" data-prov="150000">
  <option value="151000">Kab. Balangan</option>
  <option value="150100">Kab. Banjar</option>
  <option value="150300">Kab. Barito Kuala</option>
  <option value="150500">Kab. Hulu Sungai Selatan</option>
  <option value="150600">Kab. Hulu Sungai Tengah</option>
  <option value="150700">Kab. Hulu Sungai Utara</option>
  <option value="150900">Kab. Kotabaru</option>
  <option value="150800">Kab. Tabalong</option>
  <option value="151100">Kab. Tanah Bumbu</option>
  <option value="150200">Kab. Tanah Laut</option>
  <option value="150400">Kab. Tapin</option>
  <option value="156100">Kota Banjarbaru</option>
  <option value="156000">Kota Banjarmasin</option>
</optgroup>
<optgroup label="160000" data-prov="160000">
  <option value="160300">Kab. Berau</option>
  <option value="160900">Kab. Kutai Barat</option>
  <option value="160200">Kab. Kutai Kartanegara</option>
  <option value="161000">Kab. Kutai Timur</option>
  <option value="161200">Kab. Mahakam Ulu</option>
  <option value="160100">Kab. Paser</option>
  <option value="161100">Kab. Penajam Paser Utara</option>
  <option value="166100">Kota Balikpapan</option>
  <option value="166300">Kota Bontang</option>
  <option value="166000">Kota Samarinda</option>
</optgroup>
<optgroup label="170000" data-prov="170000">
  <option value="170100">Kab. Bolaang Mongondow</option>
  <option value="171200">Kab. Bolaang Mongondow Selatan</option>
  <option value="171100">Kab. Bolaang Mongondow Timur</option>
  <option value="170800">Kab. Bolaang Mongondow Utara</option>
  <option value="170300">Kab. Kep. Sangihe</option>
  <option value="170900">Kab. Kepulauan Siau Tagulandang Biaro</option>
  <option value="170400">Kab. Kepulauan Talaud</option>
  <option value="170200">Kab. Minahasa</option>
  <option value="170500">Kab. Minahasa Selatan</option>
  <option value="171000">Kab. Minahasa Tenggara</option>
  <option value="170600">Kab. Minahasa Utara</option>
  <option value="176100">Kota Bitung</option>
  <option value="176300">Kota Kotamobagu</option>
  <option value="176000">Kota Manado</option>
  <option value="176200">Kota Tomohon</option>
</optgroup>
<optgroup label="180000" data-prov="180000">
  <option value="180400">Kab. Banggai</option>
  <option value="180100">Kab. Banggai Kepulauan</option>
  <option value="181100">Kab. Banggai Laut</option>
  <option value="180500">Kab. Buol</option>
  <option value="180200">Kab. Donggala</option>
  <option value="180700">Kab. Morowali</option>
  <option value="181200">Kab. Morowali Utara</option>
  <option value="180800">Kab. Parigi Moutong</option>
  <option value="180300">Kab. Poso</option>
  <option value="181000">Kab. Sigi</option>
  <option value="180900">Kab. Tojo Una-Una</option>
  <option value="180600">Kab. Tolitoli</option>
  <option value="186000">Kota Palu</option>
</optgroup>
<optgroup label="190000" data-prov="190000">
  <option value="191000">Kab. Bantaeng</option>
  <option value="190600">Kab. Barru</option>
  <option value="190700">Kab. Bone</option>
  <option value="191100">Kab. Bulukumba</option>
  <option value="191600">Kab. Enrekang</option>
  <option value="190300">Kab. Gowa</option>
  <option value="190500">Kab. Jeneponto</option>
  <option value="191300">Kab. Kepulauan Selayar</option>
  <option value="191700">Kab. Luwu</option>
  <option value="192600">Kab. Luwu Timur</option>
  <option value="192400">Kab. Luwu Utara</option>
  <option value="190100">Kab. Maros</option>
  <option value="190200">Kab. Pangkajene Kepulauan</option>
  <option value="191400">Kab. Pinrang</option>
  <option value="191500">Kab. Sidenreng Rappang</option>
  <option value="191200">Kab. Sinjai</option>
  <option value="190900">Kab. Soppeng</option>
  <option value="190400">Kab. Takalar</option>
  <option value="191800">Kab. Tana Toraja</option>
  <option value="192700">Kab. Toraja Utara</option>
  <option value="190800">Kab. Wajo</option>
  <option value="196000">Kota Makassar</option>
  <option value="196200">Kota Palopo</option>
  <option value="196100">Kota Parepare</option>
</optgroup>
<optgroup label="200000" data-prov="200000">
  <option value="200700">Kab. Bombana</option>
  <option value="200300">Kab. Buton</option>
  <option value="201400">Kab. Buton Selatan</option>
  <option value="201600">Kab. Buton Tengah</option>
  <option value="201000">Kab. Buton Utara</option>
  <option value="200400">Kab. Kolaka</option>
  <option value="201100">Kab. Kolaka Timur</option>
  <option value="200800">Kab. Kolaka Utara</option>
  <option value="200100">Kab. Konawe</option>
  <option value="201200">Kab. Konawe Kepulauan</option>
  <option value="200500">Kab. Konawe Selatan</option>
  <option value="200900">Kab. Konawe Utara</option>
  <option value="200200">Kab. Muna</option>
  <option value="201300">Kab. Muna Barat</option>
  <option value="200600">Kab. Wakatobi</option>
  <option value="206100">Kota Baubau</option>
  <option value="206000">Kota Kendari</option>
</optgroup>
<optgroup label="210000" data-prov="210000">
  <option value="210300">Kab. Buru</option>
  <option value="210900">Kab. Buru Selatan</option>
  <option value="210700">Kab. Kepulauan Aru</option>
  <option value="210400">Kab. Kepulauan Tanimbar</option>
  <option value="210800">Kab. Maluku Barat Daya</option>
  <option value="210100">Kab. Maluku Tengah</option>
  <option value="210200">Kab. Maluku Tenggara</option>
  <option value="210500">Kab. Seram Bagian Barat</option>
  <option value="210600">Kab. Seram Bagian Timur</option>
  <option value="216000">Kota Ambon</option>
  <option value="216100">Kota Tual</option>
</optgroup>
<optgroup label="220000" data-prov="220000">
  <option value="220400">Kab. Badung</option>
  <option value="220700">Kab. Bangli</option>
  <option value="220100">Kab. Buleleng</option>
  <option value="220500">Kab. Gianyar</option>
  <option value="220200">Kab. Jembrana</option>
  <option value="220800">Kab. Karang Asem</option>
  <option value="220600">Kab. Klungkung</option>
  <option value="220300">Kab. Tabanan</option>
  <option value="226000">Kota Denpasar</option>
</optgroup>
<optgroup label="230000" data-prov="230000">
  <option value="230600">Kab. Bima</option>
  <option value="230500">Kab. Dompu</option>
  <option value="230100">Kab. Lombok Barat</option>
  <option value="230200">Kab. Lombok Tengah</option>
  <option value="230300">Kab. Lombok Timur</option>
  <option value="230800">Kab. Lombok Utara</option>
  <option value="230400">Kab. Sumbawa</option>
  <option value="230700">Kab. Sumbawa Barat</option>
  <option value="236100">Kota Bima</option>
  <option value="236000">Kota Mataram</option>
</optgroup>
<optgroup label="240000" data-prov="240000">
  <option value="240600">Kab. Alor</option>
  <option value="240500">Kab. Belu</option>
  <option value="240900">Kab. Ende</option>
  <option value="240700">Kab. Flores Timur</option>
  <option value="240100">Kab. Kupang</option>
  <option value="241400">Kab. Lembata</option>
  <option value="242200">Kab. Malaka</option>
  <option value="241100">Kab. Manggarai</option>
  <option value="241600">Kab. Manggarai Barat</option>
  <option value="242000">Kab. Manggarai Timur</option>
  <option value="241700">Kab. Nagakeo</option>
  <option value="241000">Kab. Ngada</option>
  <option value="241500">Kab. Rote-Ndao</option>
  <option value="242100">Kab. Sabu Raijua</option>
  <option value="240800">Kab. Sikka</option>
  <option value="241300">Kab. Sumba Barat</option>
  <option value="241900">Kab. Sumba Barat Daya</option>
  <option value="241800">Kab. Sumba Tengah</option>
  <option value="241200">Kab. Sumba Timur</option>
  <option value="240300">Kab. Timor Tengah Selatan</option>
  <option value="240400">Kab. Timor Tengah Utara</option>
  <option value="246000">Kota Kupang</option>
</optgroup>
<optgroup label="250000" data-prov="250000">
  <option value="251500">Kab. Asmat</option>
  <option value="250200">Kab. Biak Numfor</option>
  <option value="251300">Kab. Boven Digoel</option>
  <option value="253500">Kab. Deiyai</option>
  <option value="253400">Kab. Dogiyai</option>
  <option value="253600">Kab. Intan Jaya</option>
  <option value="250100">Kab. Jayapura</option>
  <option value="250800">Kab. Jaya Wijaya</option>
  <option value="252000">Kab. Keerom</option>
  <option value="250300">Kab. Kepulauan Yapen</option>
  <option value="253000">Kab. Lanny Jaya</option>
  <option value="251400">Kab. Mappi</option>
  <option value="252800">Kab. Memberamo Raya</option>
  <option value="253100">Kab. Membramo Tengah</option>
  <option value="250700">Kab. Merauke</option>
  <option value="251200">Kab. Mimika</option>
  <option value="250900">Kab. Nabire</option>
  <option value="252900">Kab. Nduga</option>
  <option value="251000">Kab. Paniai</option>
  <option value="251700">Kab. Pegunungan Bintang</option>
  <option value="253300">kab. Puncak</option>
  <option value="251100">Kab. Puncak Jaya</option>
  <option value="251900">Kab. Sarmi</option>
  <option value="252700">Kab. Supiori</option>
  <option value="251800">Kab. Tolikara</option>
  <option value="252600">Kab. Waropen</option>
  <option value="251600">Kab. Yahukimo</option>
  <option value="253200">Kab. Yalimo</option>
  <option value="256000">Kota Jayapura</option>
</optgroup>
<optgroup label="260000" data-prov="260000">
  <option value="260300">Kab. Bengkulu Selatan</option>
  <option value="260900">Kab. Bengkulu Tengah</option>
  <option value="260100">Kab. Bengkulu Utara</option>
  <option value="260700">Kab. Kaur</option>
  <option value="260500">Kab. Kepahiang</option>
  <option value="260600">Kab. Lebong</option>
  <option value="260400">Kab. Muko-muko</option>
  <option value="260200">Kab. Rejang Lebong</option>
  <option value="260800">Kab. Seluma</option>
  <option value="266000">Kota Bengkulu</option>
</optgroup>
<optgroup label="270000" data-prov="270000">
  <option value="270300">Kab. Halmahera Barat</option>
  <option value="270500">Kab. Halmahera Selatan</option>
  <option value="270200">Kab. Halmahera Tengah</option>
  <option value="270600">Kab. Halmahera Timur</option>
  <option value="270400">Kab. halmahera Utara</option>
  <option value="270800">Kab. Kepulauan Morotai</option>
  <option value="270700">Kab. Kepulauan Sula</option>
  <option value="270100">Kab. Pulau Taliabu</option>
  <option value="276000">Kota Ternate</option>
  <option value="276100">Kota Tidore Kepulauan</option>
</optgroup>
<optgroup label="280000" data-prov="280000">
  <option value="280200">Kab. Lebak</option>
  <option value="280100">Kab. Pandeglang</option>
  <option value="280400">Kab. Serang</option>
  <option value="280300">Kab. Tangerang</option>
  <option value="286000">Kota Cilegon</option>
  <option value="286200">Kota Serang</option>
  <option value="286100">Kota Tangerang</option>
  <option value="286300">Kota Tangerang Selatan</option>
</optgroup>
<optgroup label="290000" data-prov="290000">
  <option value="290100">Kab. Bangka</option>
  <option value="290400">Kab. Bangka Barat</option>
  <option value="290500">Kab. Bangka Selatan</option>
  <option value="290300">Kab. Bangka Tengah</option>
  <option value="290200">Kab. Belitung</option>
  <option value="290600">Kab. Belitung Timur</option>
  <option value="296000">Kota Pangkalpinang</option>
</optgroup>
<optgroup label="300000" data-prov="300000">
  <option value="300100">Kab. Boalemo</option>
  <option value="300400">Kab. Bone Bolango</option>
  <option value="300200">Kab. Gorontalo</option>
  <option value="300500">Kab. Gorontalo Utara</option>
  <option value="300300">Kab. Pohuwato</option>
  <option value="306000">Kota Gorontalo</option>
</optgroup>
<optgroup label="310000" data-prov="310000">
  <option value="310100">Kab. Bintan</option>
  <option value="310200">Kab. Karimun</option>
  <option value="310500">Kab. Kepulauan Anambas</option>
  <option value="310400">Kab. Lingga</option>
  <option value="310300">Kab. Natuna</option>
  <option value="316000">Kota Batam</option>
  <option value="316100">Kota Tanjungpinang</option>
</optgroup>
<optgroup label="320000" data-prov="320000">
  <option value="320100">Kab. Fak-Fak</option>
  <option value="320200">Kab. Kaimana</option>
  <option value="320500">Kab. Manokwari</option>
  <option value="321200">Kab. Manokwari Selatan</option>
  <option value="321000">Kab. Maybrat</option>
  <option value="321100">Kab. Pegunungan Arfak</option>
  <option value="320800">Kab. Raja Ampat</option>
  <option value="320700">Kab. Sorong</option>
  <option value="320600">Kab. Sorong Selatan</option>
  <option value="320900">Kab. Tambrauw</option>
  <option value="320400">Kab. Teluk Bintuni</option>
  <option value="320300">Kab. Teluk Wondama</option>
  <option value="326000">Kota Sorong</option>
</optgroup>
<optgroup label="330000" data-prov="330000">
  <option value="330500">Kab. Majene</option>
  <option value="330400">Kab. Mamasa</option>
  <option value="330100">Kab. Mamuju</option>
  <option value="330600">Kab. Mamuju Tengah</option>
  <option value="330200">Kab. Pasangkayu</option>
  <option value="330300">Kab. Polewali Mandar</option>
</optgroup>
<optgroup label="340000" data-prov="340000">
  <option value="340200">Kab. Bulungan</option>
  <option value="340100">Kab. Malinau</option>
  <option value="340500">Kab. Nunukan</option>
  <option value="340300">Kab. Tana Tidung</option>
  <option value="346000">Kota Tarakan</option>
</optgroup>
<optgroup label="350000" data-prov="350000">
  <option value="350800">Arab Saudi</option>
  <option value="350100">Belanda</option>
  <option value="351500">Brunei Darussalam</option>
  <option value="351400">Cina</option>
  <option value="350600">Filipina</option>
  <option value="350200">Japan</option>
  <option value="350400">Malaysia</option>
  <option value="350300">Mesir</option>
  <option value="350500">Myanmar</option>
  <option value="350700">Rusia</option>
  <option value="351000">Singapura</option>
  <option value="351300">Taiwan</option>
  <option value="351200">Thailand</option>
</optgroup>
<optgroup label="999999" data-prov="999999">
  <option value="999999">Luar Negeri</option>
</optgroup>
